name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  DALAMUD_HOME: /tmp/dalamud

jobs:
  build:
    permissions:
      contents: write
    runs-on: windows-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      
    - name: Get Tag Version
      run: |
        $tag = "${{ github.ref }}" -replace 'refs/tags/', ''
        if ($tag -eq "${{ github.ref }}") {
          $tag = "dev-build"
        }
        "tag=$tag" | Out-File -Append -FilePath $Env:GITHUB_ENV
        
    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Download Dalamud Latest
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"
        
    - name: Restore NuGet Packages
      run: dotnet restore ChatTwo.sln
      
    - name: Build Plugin
      run: dotnet build --no-restore -c Release ChatTwo.sln
      
    - name: Create Plugin Directory
      run: |
        New-Item -ItemType Directory -Force -Path plugin
        Copy-Item "ChatTwo\bin\Release\net8.0-windows\ChatTwo.dll" plugin\
        Copy-Item "ChatTwo\bin\Release\net8.0-windows\ChatTwo.json" plugin\
        if (Test-Path "ChatTwo\bin\Release\net8.0-windows\ChatTwo.pdb") {
          Copy-Item "ChatTwo\bin\Release\net8.0-windows\ChatTwo.pdb" plugin\
        }
        Get-ChildItem plugin
        
    - name: Create Release Zip
      run: |
        Compress-Archive -Path plugin\* -DestinationPath latest.zip
        
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          latest.zip
          repo.json
        generate_release_notes: true
        token: ${{ secrets.GITHUB_TOKEN }}